:root{
    --color-set-one-1: #2196f3!important;
    --color-set-one-2: #0d47a1!important;
    --preloader-text-color: #2196f3!important;
    --preloader-background-color-2: #0277bd!important;
    --preloader-background-color: #FFFFFF!important;
}