:root{
    --color-set-one-1: #1a73e8!important;
    --color-set-one-2: #174ea6!important;
    --color-set-one-5: #174ea6!important;
    --preloader-background-color-2: #174ea6!important;
    --preloader-background-color: #4285f4!important;
}